.container {
  background: orange;
}

.bigpicture {
  width: 200px;
  height: 200px;
  /* 
   * URL realtive to location of style.css file
   * (in our config it's dist)
   */
  background: url(../style/img/kitten.jpg) no-repeat center center;
  background-size: cover;
}

